fastapi
uvicorn
openai
python-dotenv
pandas
pydantic
requests
beautifulsoup4
html2text
langchain
tiktoken
selenium==4.24.0
readability-lxml
openpyxl
groq
google-generativeai==0.1.0
webdriver-manager
chromedriver-autoinstaller==0.4.0